<p id="notice"><%= notice %></p>


<% if @any_services_connected %>
  <div class="spotify-signed-in">
    <p class="spotify-id">Signed in as Spotify User: </p>
    <p class="spotify-id"><%= session[:spotify_user]["id"] %></p>
  </div>
<% else %>
  
<% end %>

<%= render partial: 'shared/platform'%>
<%= render partial: 'shared/search'%>

<div class="playlists-wrap">
	<div class="title">Displaying playlists from search term "<%= @playlist_query %>"</div>
 <%= render partial: 'shared/playlist', collection: @custom_playlists %>
</div>



