<p id="notice"><%= notice %></p>


<% if @any_services_connected %>
  <div class="spotify-signed-in">
    <p class="spotify-id">Signed in as Spotify User: </p>
    <p class="spotify-id"><%= session[:spotify_user]["id"] %></p>
  </div>
<% else %>
  
<% end %>

<div class="connect-wrap">
	<div class="connect label">No services added! Connect with:</div>
	<select class="connect dropdown">
	  <option value="spotify" default>
	  	Spotify
	  	 <!-- link_to 'Sign in with Spotify', '/auth/spotify', {class: 'sign_in_button'} -->
	  </option>
	  <option value="tidal">Tidal</option>
	  <option value="apple_music">Apple Music</option>
	</select>
	<div class="connect submit btn btn-primary">SUBMIT</div>
	<div class="connect close">X</div>
</div>


<%= render partial: 'shared/search'%>

<div class="playlists-wrap">
	<div class="title">Displaying playlists from search term "<%= @playlist_query %>"</div>
 <%= render partial: 'shared/playlist', collection: @custom_playlists %>
</div>



