<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<% @playlists.each do |plist| %>
	<p><%= plist.inspect %></p>
  <!-- <p class="playlist-label">Id</p>
  <p class="playlist-data"><%= plist.id %></p>
  <p class="playlist-label">Title</p>
  <p class="playlist-data"><%= plist.inspect %></p>
  <p class="playlist-label"> </p>
  <p class="playlist-data"><%= plist.inspect %></p>
  <p class="playlist-label"> </p>
  <p class="playlist-data"><%= plist.inspect %></p>
  <p class="playlist-label"> </p>
  <p class="playlist-data"><%= plist.inspect %></p> -->

<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
