<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<% @playlists_data.each do |plist| %>
	<h4>Playlist Title:</h4>
  <p><%= plist[:title] %></p>
  <h4>Tracks:</h4>
  <% plist[:tracks].each do |track| %>
  	<p><%= track.inspect %></p>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
