<p id="notice"><%= notice %></p>
<%= link_to 'Home', users_path, {class: 'home_button'}%>

<!-- <p>
  <strong>Name: </strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p> -->

<!-- <p>
  <strong>Password:</strong>
  <%= @user.password %>
</p> -->

<h2 id="user_playlist"> 
<strong>All My Playlists</strong>
</h2>
<div class="playlists-wrap">
  <%= render partial: 'shared/playlist', collection: @playlists %>
</div>


