<p id="notice"><%= notice %></p>

<h1>Playlists</h1>

<%= @me.inspect %>

<%= link_to 'Sign in with Spotify', '/auth/spotify' %>


<% @custom_playlists.each do |custom_playlist| %>
  <div class="playlist">
    <h2><%= custom_playlist.name %></h2>
    <% custom_playlist.tracks.each do |track| %>
    <div>
    <p><%= track.name %></p>
    <p><%= track.artists[0].name %></p>
    <p><%= track.album.name %></p>
    </div>
    <% end %>
  </div>
<% end %>



