<!DOCTYPE html>
<html>
  <head>
    <title>CaptainPlaylist</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="navbar">

    <%= link_to 'Captain Playlist', playlists_path, {class: 'site-title'} %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <% unless current_user === nil %>
        <%= link_to 'My Playlists', user_path(current_user.id), {class: 'profile-link'} %>
      <% end %>

      <div class="network-logo-wrap">
        <% if session[:spotify_user] === nil || session[:spotify_user] === {} %>
          <div class="network-logo spotify"></div>
        <% else %>
          <div class="network-logo spotify active"></div>
        <% end %>

        <% if session[:tidal_user] === nil || session[:tidal_user] === {} %>
          <div class="network-logo tidal"></div>
        <% else %>
          <div class="network-logo tidal active"></div>
        <% end %>

        <% if session[:apple_user] === nil || session[:apple_user] === {} %>
          <div class="network-logo apple"></div>
        <% else %>
          <div class="network-logo apple active"></div>
        <% end %>

        <div class="connect-prompt">Click to Connect</div>
      </div>


      <% if current_user %>
          <%= link_to "Logout", destroy_user_session_path, {method: :delete, class: 'logout-btn'} %>
        <% else %>
          <%= link_to "Register", new_user_registration_path, { class: 'register'} %>
          <%= link_to "Login", new_user_session_path, { class: 'login'} %>
      <% end %>

      <% unless current_user === nil %>
        <%= link_to 'Settings', edit_user_path(current_user.id), { class: 'settings-btn'} %>
      <% end %>

    </div>
  	<div class="main">
	    <%= yield %>
    </div>
  </body>
</html>
